
.image-row {
    width:fit-content;
    margin: 25px auto 25px auto;
}
.image-container {
    position: relative;
    display: inline-block;
    width:fit-content;
    height:fit-content;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.lowdisc {
    background-color: red;
}

.highdisc {
    background-color: green;
}