/* Making the box containing the rows of items match the size of the images*/
.image-row {
    width:fit-content;
    margin: 25px auto 25px auto;
}

.image-container {
    position: relative;
    display: inline-block;
    width:fit-content;
    height:fit-content;
    margin:4px;
}

/* Code for the discount badges */
.discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.lowdisc {
    background-color: red;
}

.highdisc {
    background-color: green;
}

/* Code for the red heart */
#heart {
    position:absolute;
    display: none;
    color:red;
    right:50%;
    bottom:5%;
    font-size:2em;
}

.image-container:hover #heart {
    display: inline-block;
}