
.image-row {
    width:fit-content;
    margin: 25px auto 25px auto;
}

.image-container {
    position: relative;
    display: inline-block;
    width:fit-content;
    height:fit-content;
    margin:4px;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.lowdisc {
    background-color: red;
}

.highdisc {
    background-color: green;
}


#heart {
    position:absolute;
    display: none;
    color:red;
    right:50%;
    bottom:5%;
}

.image-container:hover #heart {
    display: inline-block;
}